.qsgs.sheet.pc textarea {
  resize: none;
}
.qsgs.sheet.pc form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.qsgs.sheet.pc .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.qsgs.sheet.pc .sheet-content .editor {
  height: 100%;
}
.qsgs.sheet.pc .editor-size {
  height: 100px;
  display: flex;
  flex-direction: column;
}
.qsgs.sheet.pc .editor-size .editor {
  height: 100%;
}
.qsgs.sheet.pc .bio {
  display: flex;
  align-content: stretch;
  flex-direction: row;
  justify-content: center;
}
.qsgs.sheet.pc .page-structure {
  display: flex;
  align-content: stretch;
  flex-direction: row;
  justify-content: center;
}
.qsgs.sheet.pc .ability-categories {
  display: flex;
  align-content: stretch;
  justify-content: center;
}
.qsgs.sheet.pc .ability-list {
  display: flex;
  align-content: stretch;
  flex-direction: row;
  justify-content: center;
}
.editor-section {
  height: 100px;
}
.editor-section .editor {
  height: 100%;
}
