<form class="{{cssClass}} flexcol" autocomplete="off">
    <section class="page-structure" style="display: flex; align-content: stretch; flex-direction: row; justify-content: center">
        <div>
            <h1>{{localize "qsgs.char-sheet.injuries"}} </h1>
            {{#each injuries}}
                {{> "systems/qsgs/templates/sheets/actors/partials/card-sheet.hbs"}}
            {{/each}}
        </div>
        <div>
            {{!-- PC Header Information --}}
            {{> "systems/qsgs/templates/sheets/actors/partials/pc-info.hbs"}}
            
            {{!-- PC Ability Page --}}
            {{> "systems/qsgs/templates/sheets/actors/partials/pc-ability-page.hbs"}}

            {{!-- Pillars of Sanity --}}
            <section>
                <h1>{{localize "qsgs.char-sheet.pillars"}}</h1>
                <textarea></textarea>
            </section>
        </div>
        <div>
            <h1>{{localize "qsgs.char-sheet.shocks"}} </h1>
            {{#each shocks}}
                {{> "systems/qsgs/templates/sheets/actors/partials/card-sheet.hbs"}}
            {{/each}}
        </div>
    </section>
</form>