<form class="{{cssClass}}" autocomplete="off">
    hello
    <section class="inv-ability-list">
        {{#each invabilities}}
            <p>{{name}}</p>
        {{/each}}
    </section>
</form>